<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="APIKey" value="Your Api Key" />
  <!-- Custom parameters-->
  <add key="UserEmail" value = "Your authenticated user email" />
  <add key="UserPassword" value="Your authenticated user password" />
  <add key="UserId" value="A user id to test with" />
</appSettings>
